hostname = photos.adobe.io, lcs-mobile-cops.adobe.io, app.bilibili.com, mb3admin.com, mp.weixin.qq.com, api.getmimo.com

^https:\/\/photos\.adobe\.io\/v2\/accounts* url script-response-body https://raw.githubusercontent.com/uLcdia/proxy/main/lightroom.js
^https:\/\/lcs-mobile-cops\.adobe\.io\/mobile_profile url script-response-body https://raw.githubusercontent.com/uLcdia/proxy/main/photoshopexpress.js
^https?:\/\/app\.bilibili\.com\/x\/v2\/account\/myinfo\? url script-response-body https://raw.githubusercontent.com/uLcdia/proxy/main/bilibili.js
^https:\/\/mb3admin\.com\/admin\/service(\/registration\/validateDevice|\/appstore\/register|\/registration\/validate|\/registration\/getStatus|\/supporter\/retrievekey) url script-echo-response https://raw.githubusercontent.com/uLcdia/proxy/main/emby.js
^https?:\/\/mp\.weixin\.qq\.com\/mp\/getappmsgad url script-response-body https://raw.githubusercontent.com/uLcdia/proxy/main/wechat.js
^https:\/\/api\.getmimo\.com\/v1\/user\/lives* url script-response-body https://raw.githubusercontent.com/uLcdia/proxy/main/mimo_lives.js
^https:\/\/api\.getmimo\.com\/v1\/user\/rewards\/next url script-response-body https://raw.githubusercontent.com/uLcdia/proxy/main/mimo_rewards.js
